<!DOCTYPE html>
<html>
  <head>
    <title>SampleWebpackerTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main id="main">
      <%= yield %>
    </main>
    <%= load_javascript_pack_tag %>
  </body>
</html>
